<nav class="navbar navbar-expand-lg navbar-light bg-light">





    <form class="form-inline col">
        <input class="form-control col" type="search" placeholder="Buscar un platillo o bebida" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <div class="col-md-5">
        <button type="button" class="btn btn-danger">SALIR</button>
    </div>
</nav>

<div class="card" style="border-radius: 30px;">
    <p style="font-size: 1.3rem;"> CATEGORIAS PRINCIPALES </p>

    <div class="row">
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px; margin-left: 20px;">Postres</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Desayunos</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Comida</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Cena</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Complementos</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Bebidas</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Pizzas</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Hamburgesas</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Enchiladas</button>
        <button type="button" class="btn btn-outline-primary redondo" style="margin-right: 71px; margin-bottom: 10px;">Extras</button>

    </div>
</div>

<section class="container-fluid md-2">
    <div class="row ">
        <div class="col-md-3">
            <div class="card" id="card">

                <div class="col-md-3">
                    <img src="../../../../assets/t.jpg" width="200" height="100">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/t.jpg" width="200" height="100">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/t.jpg" width="200" height="100">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/t.jpg" width="200" height="100">
                </div>

                <button type="button" class="btn btn-warning center">Ordenar</button>
            </div>
        </div>
    </div>
</section>